@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
  margin: 0px;
  height: 100%;
  width: 100%;
}

/* Header */

.header { 
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  justify-content: center;
}

.header-logo {
  max-width: 100px;
}

.header-text {
  align-items: center;
}