@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
  margin: 0px;
  height: 100%;
  width: 100%;
}


/* Generic Styles */

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}


/* Header */

.header {
  padding: 20px;
  width: 100%;
}

.header > div {
  margin-bottom: 20px;
}


/* Header Logo and Text */

.header-logo-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  max-width: 100px;
}

.header-text {
  align-items: center;
}


/* Header Menu List */

.header-menu-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-menu-list li {
  text-align: center;
}

.header-menu-icon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.header-menu-icon img {
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
}

.header-menu-icon:hover img {
  transform: scale(1.2);
}


/* Food Menu */

.food-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  min-height: 300px;
  padding: 20px;
  margin: 0 20px;
  
}

/* Food Item */

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid orange;
  border-radius: 25px;
  max-width: 250px;
  margin: 10px;
  padding: 5px;
}

.food-item > * {
  margin-bottom: 10px;
}

.food-title {
  font-weight: bold;
  text-decoration: underline;
}

.food-price {
  font-weight: bold;
  color: red;
}

.food-image {
  height: 180px;
  width: 180px;
  border-radius: 25px;
  overflow: hidden
}

.food-image img {
  height: 100%;
  width: 100%;
}

.food-description {
  text-align: center;
  width: 90%;
}

.order-food-btn-container {
  padding: 5px 10px;
  background-color: orange;
  text-align: center;
  border-radius: 5px;
  width: 80%
}

.order-food-btn {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


/* Divider */

.divider {
  max-width: 95%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}